# PlanAhead Generated physical constraints 
# Horizontal stacking - four layers
# pb_f1 is top of chip, pb_f4 is bottom of chip
AREA_GROUP "pb_f1" RANGE=DSP48_X0Y112:DSP48_X13Y143;
AREA_GROUP "pb_f1" RANGE=RAMB18_X0Y112:RAMB18_X14Y143;
AREA_GROUP "pb_f1" RANGE=RAMB36_X0Y56:RAMB36_X14Y71;
AREA_GROUP "pb_f2" RANGE=DSP48_X0Y80:DSP48_X13Y111;
AREA_GROUP "pb_f2" RANGE=RAMB18_X0Y80:RAMB18_X14Y111;
AREA_GROUP "pb_f2" RANGE=RAMB36_X0Y40:RAMB36_X14Y55;
AREA_GROUP "pb_f3" RANGE=DSP48_X0Y32:DSP48_X13Y63;
AREA_GROUP "pb_f3" RANGE=RAMB18_X0Y32:RAMB18_X14Y63;
AREA_GROUP "pb_f3" RANGE=RAMB36_X0Y16:RAMB36_X14Y31;
AREA_GROUP "pb_f4" RANGE=DSP48_X0Y0:DSP48_X13Y31;
AREA_GROUP "pb_f4" RANGE=RAMB18_X0Y0:RAMB18_X14Y31;
AREA_GROUP "pb_f4" RANGE=RAMB36_X0Y0:RAMB36_X14Y15;

# Assigning FFTs into the quadrants
INST "*_fft_f1_*" AREA_GROUP = "pb_f1";
INST "*_fft_f2_*" AREA_GROUP = "pb_f2";
INST "*_fft_f3_*" AREA_GROUP = "pb_f3";
INST "*_fft_f4_*" AREA_GROUP = "pb_f4";

INST "*fft_*/f1*" AREA_GROUP = "pb_f1";
INST "*fft_*/f2*" AREA_GROUP = "pb_f2";
INST "*fft_*/f3*" AREA_GROUP = "pb_f3";
INST "*fft_*/f4*" AREA_GROUP = "pb_f4";
